doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery191.js')
		script(src='/javascripts/socket.io.min.js')
		script(src='/javascripts/ws.js')
	body
		block content