extends layout

block content
	header
		h1= title
	section
		form(action='/guardar', method='post')
			textarea(name='txtPublicacion', required)
			button(type='submit') Enviar
	footer tutorial express